@{
    ViewData["Title"] = "Error";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body style="background: #D3D3D3;">
    <div class="container bg-white p-4 m-5 d-flex align-items-center flex-column justify-content-center">
        <h1 class="text-danger">Error.</h1>
        <h2 class="text-danger">An error occurred while processing your request.</h2>
         
        <p>
            This page is shwon only when there is an error processing your request.
            Try contacting the admin of this page
        </p>
    </div>
</body>
</html>



