@model CourseViewModel

<form id="createCourseForm" method="post">
    <div class="form-group">
        <label asp-for=@Model.CourseCode>Course Code</label>
        <input asp-for=@Model.CourseCode class="form-control" />
        <span asp-validation-for=@Model.CourseCode class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for=@Model.CourseUnit>Course Unit</label>
        <input asp-for=@Model.CourseUnit type="number" class="form-control" />
        <span asp-validation-for=@Model.CourseUnit class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for=@Model.Score>Student Score</label>
        <input asp-for=@Model.Score type="number" class="form-control" />
        <span asp-validation-for=@Model.Score class="text-danger"></span>
    </div>
    <input asp-for=@Model.StudentId value=@ViewBag.StudentId type="hidden" />   
</form>