@model Course

<form id="editCourseForm" method="post">
    <div class="form-group">
        <label asp-for=@Model.CourseCode>Course Code</label>
        <input asp-for=@Model.CourseCode name="courseCode" class="form-control" />
        <span asp-validation-for=@Model.CourseCode class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for=@Model.CourseUnit>Course Unit</label>
        <input asp-for=@Model.CourseUnit name="courseUnit" type="number" class="form-control" />
        <span asp-validation-for=@Model.CourseUnit class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for=@Model.Score>Student Score</label>
        <input asp-for=@Model.Score name="score" type="number" class="form-control" />
        <span asp-validation-for=@Model.Score class="text-danger"></span>
    </div>
    <input asp-for=@Model.CourseId name="courseId" type="hidden" />   
</form>
