@model StudentViewModel

<form id="create" method="post">
    <div class="form-group">
        <label asp-for=@Model.FullName>Student FullName</label>
        <input asp-for=@Model.FullName class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for=@Model.SchoolName>School Name</label>
        <input asp-for=@Model.SchoolName class="form-control" />
        <span asp-validation-for="SchoolName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for=@Model.Class>Student Class</label>
        <input asp-for=@Model.Class class="form-control" />
        <span asp-validation-for="Class" class="text-danger"></span>
    </div>
</form>
