@model IEnumerable<Student>
@{
    ViewData["Title"] = "Home";
}
<style>
    .header {
        padding: .5em;
        font-size: 60px;
        font-style: normal;
        font-family: 'IBM Plex Sans', sans-serif;
        border-bottom: 1px solid #000;
    }

    .fa {
        color: #eee;
    }
</style>

<!-- Header-->
<div class="p-4 m-3 bg-white d-flex justify-content-center">
    <h1 class="header">Student GPA Management Board</h1>
</div>

<!-- Table Of Studernt-->
<div class="p-4 m-3 bg-white d-flex justify-content-center flex-column">
    <div class="d-flex align-self-end">
        <a class="btn btn-outline-primary" data-toggle="modal" data-target="#createModal">Add Student</a>
    </div>
    <div class="mt-2 m-0">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">School Name</th>
                    <th scope="col">Class</th>
                    <th scope="col">GPA</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @{
                    int i = 1;
                }
                @foreach (var student in Model)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td>@student.FullName</td>
                        <td>@student.SchoolName</td>
                        <td>@student.Class</td>
                        <td>0.0</td>
                        <td>
                            <a class="btn btn-sm btn-success" asp-controller="Student" asp-action="index" asp-route-studentId=@student.StudentId><i class="fa fa-info-circle"></i></a>
                            <a class="btn btn-sm btn-primary" data-toggle="modal" id="btnEditStudent" data-target="#editStudentModal" studentId=@student.StudentId><i class="fa fa-edit"></i></a>
                            <a class="btn btn-sm btn-danger" asp-controller="Student" asp-action="Delete" asp-route-studentId=@student.StudentId><i class="fa fal fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Create Student Modal-->
<div id="createModal" class="modal fade" tabindex="-1" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h2>Add a New Student</h2>
                </div>
            </div>
            <div class="modal-body">
                @{
                    await Html.RenderPartialAsync("_CreateStudent", new StudentViewModel());
                }
            </div>
            <div class="modal-footer">
                <button id="btnCreateStudent" class="btn btn-primary">Create</button>
                <button id="submitForm" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Student Modal-->
<div id="editStudentModal" class="modal fade" tabindex="-1" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h2>Edit Student Information!</h2>
                </div>
            </div>
            <div class="modal-body">
                @{
                    await Html.RenderPartialAsync("_EditStudent", new Student());
                }
            </div>
            <div class="modal-footer"> 
                <button class="btn btn-primary" id="btnEditStudent">Edit</button>
                <button id="submitForm" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript" src="~/js/homeIndex.js"></script>
}